<div class="banner banner_home">
  <div class="banner_content">
    <h1><span class="banner_home_typed"></span></h1>
  </div>
</div>

<div class="content">

  <h1>About Me...</h1>

  <br>

  <p>
      That was just about me coding but I actually have a family. I have a mom, a dad, a sister, and a dog.
      My sister is named, Rylee, and she is 12. My dog is named Dakota and she is almost 21. I mean in dog
      years if you thought it meant human years. My birthday is on June 6th and I'm 14 years old and I love 
      video games.
       
  </p>

  <br>
<h1> My Code Experience</h1>
  <p>
      Hi, I'm Tristen Quintana! I got into coding at the age of 10 when in fifth grade when one of my classes did robotics and we had to do a little
      coding for the robot.
       In seventh grade I had a class on scratch and animation. In eighth grade I had a computer science class which I did java script
       in code.org.
       As a 9th grader now in the 2019-20 school year I'm doing web dev.
        I went to Code Central during this time and learned more of java script, html, and css.
         Also while I was there I created games in GameMakerStudio, worked in Code Combat, and Angular
         which is what this is made with.
  </p>

  <br>

  <p>
     Projects I have made are mainly games like a platformer called !Ez Platformer and a dodge game where you dodge falling objects
    on GameMakerStudio. I'm working on this website but I am working with game engines and took quick small class on Unreal Engine.
     I'm still self teaching myself more of Unreal. 
       
  </p>

  <br>

  <h1>Current Projects</h1>

  <jhs-projects></jhs-projects>

</div>
