<div class="project_container">

  <div class="card hoverable">

    <div class="card-start">

      <h2>!Ez Platformer</h2>

      <div class="project_img">
        <img src="platformerimg.PNG">
      </div>

    </div>

    <div class="card-content">

      <p>
        !Ez Platformer is a simple platformer game where you play as a
        block and have to dodge the red an can walk or slide I guess
        on the black floor. As in the title it is an !Ez game!
      </p>

    </div>

    <br>

    <div class="card-end">
      <a target="_blank" rel="noopener noreferrer" href=""><h4>I love !Ez Platformer!</h4></a>
    </div>

  </div>




  <div class="card hoverable">

    <div class="card-start">

      <h2>Dodge Game</h2>
  
      <div class="project_img">
        <img src="dropimg.PNG">
      </div>

    </div>
    
    <div class="card-content">

      <p>
        My dodge game is a game where you are a character
        that can move around and there are falling enemies and
        certain ones do more damage than others. So, you
        just try dodging characters, simple. 
      </p>

    </div>

    <br>
    
    <div class="card-end">
      <a target="_blank" rel="noopener noreferrer" href=""><h4>Watch Your Head!</h4></a>
    </div>

  </div>

</div>
